<%= render('layouts/errors', :object => @review) %>

<section class="info-box">
<br>
<%= form_for [@product, @review] do |f| %>
  <%= f.label :review_title %>
  <%= f.text_field :review_title %>
  <%= f.label :review_description %>
  <%= f.text_field :review_description %>
  <%= f.label :rating %>
  <%= f.text_field :rating %>
  <p><%= f.submit %></p>
<% end %>
</section>
