<!DOCTYPE html>
<html>
  <head>
    <title>Northwest Quality Coffee Products</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="main-header">
      <div>
        <a href="index.html" class="main-header__brand">
          NWCC
        </a>
      </div><nav class="main-nav">
        <ul class="main-nav__items">
          <li class="main-nav__item">
            <a href="packages/index.html">Placeholder</a>
          </li>
          <li class="main-nav__item">
            <a href="customers/index.html">Placeholder</a>
          </li>
          <li class="main-nav__item main-nav__item--cta">
            <a href="start-hosting/index.html">Placeholder</a>
          </li>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
